services:

  mongo:
    image: mongo:latest
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: arenaflow_admin
      MONGO_INITDB_ROOT_PASSWORD: azertyuiop@12345